<h1 class='center'>Modifica Contenuto <%=@content.titolo%></h1>

<%= render 'form', content: @content %>

<%= link_to 'Mostra il contenuto', @content %> |
<%= link_to 'Torna indietro', contents_path %>
